name: Cypress Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
    # Checkout repo
    - name: Checkout repository
      uses: actions/checkout@v3

    # Setup Node.js
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 20  # pilih versi Node sesuai requirement Cypress

    # Install dependencies
    - name: Install dependencies
      run: npm install

    # Run Cypress tests in headless mode
    - name: Run Cypress tests
      run: npx cypress run

    # Upload Cypress screenshots & videos as artifact
    - name: Upload Cypress Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: cypress-artifacts
        path: |
          cypress/screenshots
          cypress/videos
